In [1]:
import pandas as pd

Series

In [2]:
x=[1, 2, 3, -4, 5, 62, 7, 118, 9]
dic = {'name': ['python', 'c++'], 'rank':[1,2], 'user':[212,232]}
var = pd.Series(x)
var1 = pd.Series(x, dtype='float', name='first')
var2 = pd.Series(dic)
var3 = pd.Series(12, index=[1,2,3,4])

DataFrame

In [3]:
x=[1, 2, 3, -4, 5, 62, 7, 118, 9]
var1 = pd.DataFrame(x)
var2 = pd.DataFrame(dic) #no. of data should be equal
var3 = pd.DataFrame(dic, columns=['user', 'rank', 'l'], index=['a', 'k'])

#Using two series as a value and two keys we can make data frames.
d = {'a': pd.Series([1,2,3,4,5]), 'b': pd.Series([9,8,7,6,5])}
v = pd.DataFrame(d)

Csv file reading and conversion

In [4]:
# Convertting dictonary or data to csv file.
data = {'name': ['python', 'c++'], 'rank':[1,2], 'user':[212,232]}
d = pd.DataFrame(data)

#whatever extension you write it make.
d.to_csv('first2.csv', index=False, header=['a', 'b', 'c'])

# #You can't write index like this.
# d.to_csv('first1.csv', index=['f', 'g', 'j'], header=['a', 'b', 'c'])

In [5]:
#reading csv file:
data = pd.read_csv('people.csv')
# data = pd.read_csv('people.csv', nrows=3, usecols=[0, 4], skiprows=[0], index_col="Name", header=2, col = ["col1", "col2"])
# data = pd.read_csv('people.csv', header=None, dtype={"Graduation": "float"}, names = ["col1", "col2", "col3", "col4", "col5", "col6"])
# print(type(data))

In [6]:
df = pd.read_csv("titanic.csv")
# df.loc[0]
# df.reset_index(inplace=True, drop=True)
# lst = [1 for x in range(891)]
# df.index=lst
# x=df[df["Survived"]==0]
# len(x)
# # for multiple condition use &
# df["Pclass"].value_counts()
# df[["Survived", "Sex"]].value_counts()

In [15]:
df.columns
df["Age"].mean()
df["Age"].max()
df["Age"].min()
df["Age"].std()
df["Age"].median()
df["Age"].mode()
df["Age"].count()
df["Age"].unique()
df["Age"].nunique()

88

In [20]:
df["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [21]:
df["Sex"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [24]:
df[["Sex", "Survived"]].value_counts()

Sex     Survived
male    0           468
female  1           233
male    1           109
female  0            81
Name: count, dtype: int64

In [26]:
df[["Sex", "Survived"]].value_counts()

Sex     Survived
male    0           468
female  1           233
male    1           109
female  0            81
Name: count, dtype: int64

In [27]:
468/577

0.8110918544194108

In [32]:
df["Age_Months"]=df["Age"]*12
df["Age_Months"].mean()

356.38941176470587

In [41]:
df.iloc[647]

PassengerId                                    648
Survived                                         1
Pclass                                           1
Name           Simonius-Blumer, Col. Oberst Alfons
Sex                                           male
Age                                           56.0
SibSp                                            0
Parch                                            0
Ticket                                       13213
Fare                                          35.5
Cabin                                          A26
Embarked                                         C
Age_Months                                   672.0
Name: 647, dtype: object

In [42]:
df.index = df["Ticket"]

In [60]:
df.loc['211536'] #this with work with level not index.

PassengerId                      887
Survived                           0
Pclass                             2
Name           Montvila, Rev. Juozas
Sex                             male
Age                             27.0
SibSp                              0
Parch                              0
Ticket                        211536
Fare                            13.0
Cabin                            NaN
Embarked                           S
Age_Months                     324.0
Name: 211536, dtype: object

In [58]:
df.loc["W./C. 6607"]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Months
Ticket,,,,,,,,,,,,,
W./C. 6607,784,0,3,"Johnston, Mr. Andrew G",male,NaN,1,2,W./C. 6607,23.45,NaN,S,NaN
W./C. 6607,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S,NaN