In [1]:
import pandas as pd
import numpy as np

In [64]:
df = pd.read_csv("nba.csv")

In [16]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [15]:
df[df["Team"]]["Salary"].mean()

Series([], Name: Salary, dtype: float64)

In [18]:
team_nan_counts = df.groupby('Team')['College'].apply(lambda x: x.isna().sum())

# Find the team with the most NaN values
team_with_most_nan = team_nan_counts.idxmax()
most_nan_count = team_nan_counts.max()

print(f"The team with the most NaN values in the 'college' column is '{team_with_most_nan}' with {most_nan_count} NaN values.")

The team with the most NaN values in the 'college' column is 'Denver Nuggets' with 6 NaN values.

In [19]:
df["Age"].mean()

26.938730853391686

In [20]:
df[df["College"] != None ].count()

Name        457
Team        457
Number      457
Position    457
Age         457
Height      457
Weight      457
College     373
Salary      446
dtype: int64

In [28]:
df[["Name", "Age"]].value_counts()

Name                Age
Aaron Brooks        31.0    1
Miles Plumlee       27.0    1
Mike Muscala        24.0    1
Mike Miller         36.0    1
Mike Dunleavy       35.0    1
                           ..
Gorgui Dieng        26.0    1
Gordon Hayward      26.0    1
Goran Dragic        30.0    1
Glenn Robinson III  22.0    1
Zaza Pachulia       32.0    1
Name: count, Length: 457, dtype: int64

In [32]:
ny_knicks_players = df[df['Team'] == 'New York Knicks']

# Count the number of non-NaN values in the "college" column
players_with_college = ny_knicks_players['College'].count()

players_with_college

11

In [40]:
df["Team"].value_counts()

Team
New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Boston Celtics            15
Brooklyn Nets             15
Portland Trail Blazers    15
Oklahoma City Thunder     15
Denver Nuggets            15
Washington Wizards        15
Miami Heat                15
Charlotte Hornets         15
Atlanta Hawks             15
San Antonio Spurs         15
Houston Rockets           15
Dallas Mavericks          15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Chicago Bulls             15
Sacramento Kings          15
Phoenix Suns              15
Los Angeles Lakers        15
Los Angeles Clippers      15
Golden State Warriors     15
Toronto Raptors           15
Philadelphia 76ers        15
Utah Jazz                 15
Orlando Magic             14
Minnesota Timberwolves    14
Name: count, dtype: int64

In [46]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [56]:
df["Height"]

0       6-2
1       6-6
2       6-5
3       6-5
4      6-10
       ...
452    6-10
453     6-3
454     6-1
455     7-3
456     7-0
Name: Height, Length: 457, dtype: object

In [58]:
def height_to_inches(height):
    feet, inches = map(int, height.split('-'))
    return feet * 12 + inches

# Convert height column to inches
df['Height (inches)'] = df['Height'].apply(height_to_inches)

# Sort the DataFrame by height in descending order
df = df.sort_values(by='Height (inches)', ascending=False)

# Select the top four tallest players
top_four_tallest = df.head(4)

# Calculate the mean salary of the top four players
mean_salary = top_four_tallest['Salary'].mean()
mean_salary

2307930.0

In [59]:
df["College"].value_counts()

College
Kentucky           22
Duke               20
Kansas             18
North Carolina     16
UCLA               15
                   ..
Bucknell            1
Iowa State          1
Rider               1
St. Bonaventure     1
Northeastern        1
Name: count, Length: 118, dtype: int64

In [74]:
df[(df["College"] == "Duke") & (df["Age"] >= 30)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
46,Elton Brand,Philadelphia 76ers,42.0,PF,37.0,6-9,254.0,Duke,NaN
103,JJ Redick,Los Angeles Clippers,4.0,SG,31.0,6-4,190.0,Duke,7085000.0
154,Mike Dunleavy,Chicago Bulls,34.0,SG,35.0,6-9,230.0,Duke,4500000.0
171,Dahntay Jones,Cleveland Cavaliers,30.0,SG,35.0,6-6,225.0,Duke,NaN
340,Luol Deng,Miami Heat,9.0,SF,31.0,6-9,220.0,Duke,10151612.0

In [75]:
df[(df["Team"] == "Toronto Raptors") & (df["Age"] >= 30)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
67,Kyle Lowry,Toronto Raptors,7.0,PG,30.0,6-0,205.0,Villanova,12000000.0
72,Luis Scola,Toronto Raptors,4.0,PF,36.0,6-9,240.0,NaN,2900000.0

In [94]:
for i in df["Position"].unique():
    print(i, df[df["Position"]==i]["Salary"].mean())

PG 5077829.215909091
SF 4857392.571428572
SG 4009861.1919191917
PF 4562482.989690722
C 5967052.0